* {
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

html, body {
    background-color: white;
    color: #16005d;
    font-size: 1vmin;
}

#container {
    position: relative;
    height: auto;
    margin: 2vh auto;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0.5vw 0.5vh 0.5rem 0.2rem #1564ad;
    font-size: 3rem;
    max-width: 100vw;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, minmax(1rem, auto));
    align-items: stretch;
    justify-items: stretch;
}

header, nav, .input-field, .output-field, footer, .message {
    border-bottom: 0.1rem solid black;
    padding: 1rem;
}

header {
    grid-column: 1/9;
    grid-row: 1/2;
    font-size: 5rem;
}

.message {
    grid-column: 1/9;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.message #message-content {
    text-align: left;
}

nav {
    grid-column: 1/9;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.input-field {
    grid-column: 1/5;
    grid-row: 4/8;
    border-right: 0.3rem solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(3rem, 4rem));
}

.output-field {
    grid-column: 5/9;
    grid-row: 4/8;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(3rem, 4rem));
}

footer {
    grid-column: 1/9;
    grid-row: 8/9;
    text-align: left;
    font-size: 2rem;
}

.myButton {
    height: 5rem;
    padding: 0.5vh 0.5vw;
    margin: 0.3rem;
    font-size: 3rem;
    box-shadow: 0.1vw 0.2vh 0vw 0vh #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bcff2f;
    border-radius: 0.3vw;
    border: 0.09vw solid #337bc4;
    cursor: pointer;
}

.myButton:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.myButton:active {
    position: relative;
    top: 0.05rem;
}

.input-col {
    font-size: 2.5rem;
    text-align: left;
    margin: 0.5rem 0.1rem;
}

#input-mtu-name {
    grid-column: 1/3;
    grid-row: 1/2;
}

#input-mtu-value {
    font-size: 2rem;
    grid-column: 4/7;
    grid-row: 1/2;
}

#input-netkey-name {
    grid-column: 1/5;
    grid-row: 2/3;
}

#input-netkey-value {
    font-size: 2rem;
    grid-column: 1/17;
    grid-row: 3/4;
}

#input-appkey-name {
    grid-column: 1/5;
    grid-row: 4/5;
}

#input-appkey-value {
    font-size: 2rem;
    grid-column: 1/17;
    grid-row: 5/6;
}

#input-ivIndex-name {
    grid-column: 1/5;
    grid-row: 6/7;
}

#input-ivIndex-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 6/7;
}

#input-sar-name {
    grid-column: 1/3;
    grid-row: 7/8;
}

#input-sar-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 7/8;
}

#input-msgType-name {
    grid-column: 1/5;
    grid-row: 8/9;
}

#input-msgType-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 8/9;
}

#input-ttl-name {
    grid-column: 1/5;
    grid-row: 9/10;
}

#input-ttl-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 9/10;
}

#input-src-name {
    grid-column: 1/3;
    grid-row: 10/11;
}

#input-src-value {
    font-size: 2rem;
    grid-column: 4/8;
    grid-row: 10/11;
}

#input-dst-name {
    grid-column: 9/11;
    grid-row: 10/11;
}

#input-dst-value {
    font-size: 2rem;
    grid-column: 12/16;
    grid-row: 10/11;
}

#input-opcode-name {
    grid-column: 1/5;
    grid-row: 11/12;
}

#input-opcode-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 11/12;
}

#input-payload-name {
    grid-column: 1/5;
    grid-row: 12/13;
}

#input-payload-value {
    font-size: 2rem;
    grid-column: 6/17;
    grid-row: 12/13;
}

#input-onoff-state-name {
    grid-column: 1/2;
    grid-row: 12/13;
}

#input-onoff-state-value {
    font-size: 2rem;
    grid-column: 3/6;
    grid-row: 12/13;
}

#input-onoff-tid-name {
    grid-column: 7/9;
    grid-row: 12/13;
}

#input-onoff-tid-value {
    font-size: 2rem;
    grid-column: 9/11;
    grid-row: 12/13;
}

#input-onoff-delay-name {
    grid-column: 11/14;
    grid-row: 12/13;
}

#input-onoff-delay-value {
    font-size: 2rem;
    grid-column: 14/17;
    grid-row: 12/13;
}

#input-onoff-transTime-name {
    grid-column: 1/7;
    grid-row: 13/14;
}

#input-onoff-transTime-value {
    font-size: 2rem;
    grid-column: 7/10;
    grid-row: 13/14;
}

.output-col {
    font-size: 2rem;
    text-align: left;
    margin: 0.5rem 0.1rem;
}

#output-networkPDU-name {
    grid-column: 1/10;
    grid-row: 1/2;
}

#output-networkPDU-value {
    grid-column: 1/17;
    grid-row: 2/3;
}

#output-proxyPDU-name {
    grid-column: 1/10;
    grid-row: 3/4;
}

#output-proxyPDU-value {
    grid-column: 1/17;
    grid-row: 4/5;
}

#output-encryptionKey-name {
    grid-column: 1/10;
    grid-row: 5/6;
}

#output-encryptionKey-value {
    grid-column: 1/17;
    grid-row: 6/7;
}

#output-privacyKey-name {
    grid-column: 1/10;
    grid-row: 7/8;
}

#output-privacyKey-value {
    grid-column: 1/17;
    grid-row: 8/9;
}

#output-networkID-name {
    grid-column: 1/4;
    grid-row: 9/10;
}

#output-networkID-value {
    grid-column: 4/17;
    grid-row: 9/10;
}

#output-ivi-name {
    grid-column: 1/3;
    grid-row: 10/11;
}

#output-ivi-value {
    grid-column: 3/4;
    grid-row: 10/11;
}

#output-ctl-name {
    grid-column: 5/7;
    grid-row: 10/11;
}

#output-ctl-value {
    grid-column: 7/8;
    grid-row: 10/11;
}

#output-nid-name {
    grid-column: 9/11;
    grid-row: 10/11;
}

#output-nid-value {
    grid-column: 11/13;
    grid-row: 10/11;
}

#output-seg-name {
    grid-column: 1/3;
    grid-row: 11/12;
}

#output-seg-value {
    grid-column: 3/4;
    grid-row: 11/12;
}

#output-akf-name {
    grid-column: 5/7;
    grid-row: 11/12;
}

#output-akf-value {
    grid-column: 7/8;
    grid-row: 11/12;
}

#output-aid-name {
    grid-column: 9/11;
    grid-row: 11/12;
}

#output-aid-value {
    grid-column: 11/13;
    grid-row: 11/12;
}

#output-seq-name {
    grid-column: 1/3;
    grid-row: 12/13;
}

#output-seq-value {
    grid-column: 3/8;
    grid-row: 12/13;
}

#output-transMIC-name {
    grid-column: 8/11;
    grid-row: 12/13;
}

#output-transMIC-value {
    grid-column: 11/17;
    grid-row: 12/13;
}

#output-netMIC-name {
    grid-column: 1/8;
    grid-row: 13/14;
}

#output-netMIC-value {
    grid-column: 8/17;
    grid-row: 13/14;
}