html, body {
    height: 100%;   
}

select {
	font-size: 1.5vw;
    background-color: white;
    color: black;
    font-family: "Courier New";
}

h1 {
    padding: 1;
    text-align: center;
	font-size: 3vw;
    color:#16005d;
}

.comment {
    color: white;
    font-size: 1.0vw;
    font-style: italic;
}

.note {
    color: #0082fc;
    font-size: 1.0vw;
    font-style: italic;
}

.emphasised {
    color: #0082fc;
    font-size: 1.5vw;
    font-weight: bold;
}

.important {
    color: red;
}

.remark {
    font-family: monospace;
    font-size: 1.2rem;
}

.align {
    margin: 0.5vh 1vw;
    padding:0.5rem 1rem;
}

a:link {color: #00FFFF; text-decoration: underline; }
a:active {color: #00FFFF; text-decoration: underline; }
a:visited {color: #00FFFF; text-decoration: underline; }
a:hover {color: #00FFFF; text-decoration: underline; }

.hidden {
    visibility: false;
}

.full_screen {
    width: 0.98vw;
    height: 1vh;
}

.full_width {
    width: 100%;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.myButton {
	box-shadow: 0.1rem 0.2rem 0rem 0rem #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:0.3rem;
	border:0.05rem solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
    font-weight:bold;
    margin: 1vh 1vw;
    padding:0.5rem 1rem;
    text-decoration:none;
    text-shadow:0rem 0.1rem 0rem #528ecc;
    width: 8rem;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:0.05rem;
}

.inline-state {
    color:#16005d;
    display:inline-block;
    font-size: 1.5rem;
    margin: 0.5vh 1vw;
    padding:0.5rem 1rem;
    width: 18rem;
}

.inline-state-long {
    color:#16005d;
    display:inline-block;
    font-size: 1.5rem;
    margin: 0.5vh 1vw;
    padding:0.5rem 1rem;
    width: 39rem;
}

.title {
    color:#16005d;
    display:inline-block;
    font-size: 2rem;
    margin: 0.5vh 1vw;
    padding:0.5rem 1rem;
    width: 24rem;
}

.subtitle {
    color:#16005d;
    display:inline-block;
    font-size: 1rem;
    margin: 0.5vh 1vw;
    padding:0.5rem 1rem;
    width: 24rem;
}

table {
	width: 100%;
    border-spacing: 5px;
    border: 1px solid white;

}

tr, td {
    height: 0px;
}

.centred_row {
    vertical-align: center;
    height: 100%
}

.test_cell {
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    background-color:#000000;    
    padding-left: 10px;
}

.test_label {
    width: 50%;
    overflow: hidden;
    vertical-align: center;
}

.result {
    background-color: grey;
    color: white;
    font-family: "Courier New";
}

td textarea {
    width: 100%;
    height: 90%;
    font-family: "Courier New";
}

.white_bg {
    background-color: #ffffff;
}

.white_bg {
    background-color: #ffffff;
}

.third_width {
    width: 33%;
}

.quarter_width {
    width: 25%;
}

.col1 {
    width: 33%;
}

.col2 {
    width: 33%;
}

.col3 {
    width: 34%;
}

.field { 
    font-size:1.0vw; 
}
